.footer {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  gap: 41px;

  @media (min-width: 768px) {
    gap: 77px;
  }

  @media (min-width: 1440px) {
    gap: 100px;
  }

  &__body {
    position: relative;
    margin-top: 254px;

    @media (min-width: 768px) {
      margin-top: 265px;
    }

    &-container {
      display: flex;
      flex-direction: column;
      gap: 7px;

      @media (min-width: 576px) {
        gap: 66px;
      }

      @media (min-width: 1440px) {
        gap: 32px;
        flex-direction: row;
      }
    }
  }

  &__bottom {
    background-color: #505050;

    &-container {
      height: 88px;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      color: #ffffff;

      @media (min-width: 768px) {
        height: 60px;

        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 39px;

    @media (min-width: 576px) {
      gap: 32px;
      flex-direction: row;
    }
  }

  &__dayaxe-menu,
  &__discover-menu,
  &__partners-menu {
    width: 200px;
    height: 195px;

    display: flex;
    flex-direction: column;
    gap: 25px;

    @media (min-width: 768px) {
      gap: 23px;
    }
  }

  &__subtitle {
    width: 240px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #1eb6ff;

    @media (min-width: 576px) {
      width: auto;
    }
  }

  &__contacts-subtitle {
    text-align: left;

    @media (min-width: 768px) {
      text-align: center;
    }
  }

  &__links-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  &__link-item {
    font-size: 16px;
    line-height: 16px;
    color: #505050;

    cursor: pointer;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 0px;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 35px;
    }

    @media (min-width: 1440px) {
      gap: 68px;
      flex-direction: column;
    }
  }

  &__mailing {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

  &__mailing-body {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @media (min-width: 576px) {
      flex-direction: row;
      gap: 16px;
    }
  }

  &__promo-sign {
    padding-top: 0px;
    text-align: center;

    @media (min-width: 576px) {
      padding-top: 19px;
      text-align: left;
    }

    &-percentage {
      color: #1eb6ff;
      font-weight: bold;
    }
  }

  &__social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 30px;

    @media (min-width: 768px) {
      justify-content: start;
      padding-top: 50px;
    }

    @media (min-width: 1440px) {
      padding-top: 0px;
    }
  }

  &__fb-link {
    width: 11px;
    height: 20px;
  }

  &__in-link {
    width: 19px;
    height: 18px;
  }

  &__inst-link {
    width: 20px;
    height: 20px;
  }

  &__vimeo-link {
    width: 20px;
    height: 16px;
  }

  &__fb-link,
  &__in-link,
  &__inst-link,
  &__vimeo-link {
    cursor: pointer;
  }

  &__arrow-up {
    width: 40px;
    height: 40px;

    position: absolute;
    bottom: -10px;
    right: 10px;

    border-radius: 50%;
    border: 3px solid #1eb6ff;
    box-shadow: 0px 0px 15px 3px rgba(30, 182, 255, 1);

    cursor: pointer;

    &-icon {
      width: 50%;
      height: 50%;
    }

    @media (min-width: 768px) {
      width: 60px;
      height: 60px;

      bottom: 0px;
      right: 40px;
    }
  }
}
