.promotions {
  height: auto;
  padding-top: 30px;

  &__container {
    max-width: 1128px;
    margin: 0 auto;
    padding-right: 24px;
    padding-left: 24px;

    @media (min-width: 690px) {
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  &__head {
    margin-bottom: 33px;

    @media (min-width: 576px) {
      margin-bottom: 40px;
    }

    @media (min-width: 1024px) {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: #505050;

    @media (min-width: 768px) {
      font-size: 24px;
      line-height: 24px;
    }

    &-emphasis {
      color: #1EB6FF;
    }
  }
}