.start-section {
  height: 568px;
  background-image: url('~/src/assets/images/first-section-background.png');
  background-repeat: no-repeat;
  background-position: -70px 0px;
  background-size: 910px;
}