.promotion-card {
  width: var(--promotion-card-width);
  height: 380px;

  border-radius: 6px;

  &__img-wrapper {
    height: 200px;
    width: 100%;
    margin-bottom: 26px;

    border-radius: 6px 6px 0px 0px;

    @media (min-width: 576px) {
      margin-bottom: 35px;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    border-radius: 6px 6px 0px 0px;
  }

  &__body {
    padding-left: 24px;
    padding-right: 24px;

    @media (min-width: 576px) {
      padding-left: 29px;
      padding-right: 29px;
    }

    @media (min-width: 1024px) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__title {
    margin-bottom: 18px;

    color: #505050;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    &-emphasis {
      color: #1eb6ff;
    }

    @media (min-width: 576px) {
      margin-bottom: 12px;

      font-size: 24px;
      line-height: 28px;
    }
  }

  &__subtitle {
    color: #505050;
    font-size: 16px;
    line-height: 22px;

    &-emphasis {
      color: #1eb6ff;
    }
  }
}
